<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add person</title>
</head>
<body>
    <form method="post">
        <p><label>First name:<br>
            <input type="text" name="first_name">
        </label></p>
        <p><label>Last name:<br>
            <input type="text" name="last_name">
        </label></p>
        <p><label>Description:<br>
            <input type="text" name="description">
        </label></p>
        <input type="submit" value="Save">
        {% csrf_token %}
    </form>
{% if success %}
    <p>Dodano: <br>
        {{ new_person.first_name }} {{ new_person.last_name }}<br>
        {{ new_person.description }}<br>
    </p>
{% endif %}
</body>
</html>
