<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify person</title>
</head>
<body>
        <br>
        {{ modified_person.first_name }} {{ modified_person.last_name }}<br>
        {{ modified_person.description }}<br>
    <form method="post">
        <p><label>First name:<br>
            <input type="text" name="first_name" value={{ modified_person.first_name }}>
        </label></p>
        <p><label>Last name:<br>
            <input type="text" name="last_name" value={{ modified_person.last_name }}>
        </label></p>
        <p><label>Description:<br>
            <input type="text" name="description" value={{ modified_person.description }}>
        </label></p>
        <input type="submit" value="Save">
        {% csrf_token %}
    </form>
        <a href="/{{ modified_person.pk }}/addAddress">Add address</a>
{% if success %}
    <p>Dodano: <br>
        {{ modified_person.first_name }} {{ modified_person.last_name }}<br>
        {{modified_person.description }}<br>
    </p>
{% endif %}
</body>
</html>
